<div class="flex justify-between items-center px-8 h-12 shadow-md bg-white">

    <a href="/" class="font-bold">
       <img class="h-10" src="/media/logo-name.png">
    </a>

    <div class="flex gap-6">
        {% if request.user.is_authenticated %}
            <div class="flex font-bold gap-2">
                {% if user.profile.image %}
                    <img class="rounded-full w-6 h-6" src="{{ user.profile.image.url }}" />
                {% else %}
                    <i class="text-2xl self-center fa-regular fa-circle-user"></i>
                {% endif %}
                <a href="{% url 'members.profile' %}">{{ request.user|capfirst }}</a>
            </div>

            <a href="{% url 'logout' %}" class="font-bold">
                Logout
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="font-bold" id="login-button">
                Login
            </a>
        {% endif %}
    </div>
</div>
